<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput
          [placeholder]="titulo"
          [formControlName]="controlName"
          [name]="controlName"
    />
    <mat-error *ngIf="validator.hasErrorValidator(formControl, 'required')">Campo obrigatório</mat-error>
    <mat-error *ngIf="validator.hasErrorValidator(formControl, 'minlength')">
      Campo precisa ter no mínimo {{validator.lengthValidator(formControl, 'minlength')}} caracteres
    </mat-error>
    <mat-error *ngIf="validator.hasErrorValidator(formControl, 'maxlength')">
      Campo pode ter no máximo {{validator.lengthValidator(formControl, 'maxlength')}} caracteres
    </mat-error>
  </mat-form-field>
</div>
